/mcp_server/.env.example
/mcp_server/.env
/mcp_server/CLOUD_SQL_SETUP.md
/mcp_server/documents/*
/mcp_client/.env.example
/mcp_client/.env
/mcp_client/__pycache__/*
/mcp_client/venv/*
.env
/pru-agent/service_account.json
/pru-agent/__pycache__
/mcp_client/service_account.json
service_account.json
__pycache__
/mcp_server/__pycache__
/database/__pycache__
/mcp_client/service_account1.json
/ai_agent/pru-agent/service_account1.json
/ai_agent/service_account1.json